.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formElement {
  width: 45vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
	background: #FFFFFF;
	box-shadow: 20px 25px 22px -10px #000000;
}

.formElement__logo-container {
	display: flex;
  justify-content: center;
  align-items: center;
	background: black;
	color: #fff;
}

.formElement__logo {
	height: 20vh;
}

.formElement h2 {
	font-size: 20px;
	font-weight: 200;
}

.formElement__wrapper {
	display: inline-block;
  width: 80%;
  margin: auto;
}

.formElement input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
	font-size: 16px;
}

.formElement button {
	-moz-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	box-shadow: inset 0px 1px 0px 0px #89C2D9;
	background-color: #89C2D9;
	border: 1px solid #89C2D9;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;

	font-size: 18px;
	padding: 8px 18px;
	text-decoration: none;
  margin-bottom: 10px;
	width: 100%;
}

.formElement button:hover {
	background:linear-gradient(to bottom, #61A5C2 5%, #2C7DA0 100%);
	background-color:#61A5C2;
}

@media (max-width: 480px) {
  .formElement {
    width: 70vw;
    height: 70vh;
  }  
}

