.formContainer {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formElement {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.formElement h2{
	background: #2C7DA0;
	color: #fff;
	font-size: 18px;
	font-weight: 200;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.formElement input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
}

.formElement button {
	-moz-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	box-shadow: inset 0px 1px 0px 0px #89C2D9;
	background-color: #89C2D9;
	border: 1px solid #89C2D9;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
  margin-bottom: 10px;
	width: 100%;
}

.formElement button:hover {
	background:linear-gradient(to bottom, #61A5C2 5%, #2C7DA0 100%);
	background-color:#61A5C2;
}

@media (max-width: 480px) {
  .formElement {
    width: 70vw;
    height: 70vh;
  }  
}

