@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
    font-family: 'DM Sans', sans-serif;   
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #052b46;
    color: white;   
}

.gamesItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px; 
    box-shadow: 20px 25px 22px -10px #000000;
}

.gamePic {
    height: 600px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

.gamePic:hover{
    animation: moreInfo 2s ease 0s 1 normal forwards;
}

.info { 
    text-transform: uppercase;
    padding: 5px 0 5px 10px;
    font-family: 'Open Sans Condensed', sans-serif; 
}

.price, .title  {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    padding: 20px 0 10px 0;
    font-family: 'DM Sans', sans-serif;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #000;
  color: white;
  border: 1px solid #000;
  margin: 0 1rem;
  width: fit-content;
  align-self: center;
  font-size: 20px;
}

.info-btn {
    text-decoration: none;
    color: white;
}

.btn:hover {
	background:linear-gradient(to bottom, #61A5C2 5%, #2C7DA0 100%);
	background-color:#61A5C2;
	border: 1px solid #61A5C2;
    color: black;
}

@keyframes moreInfo {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.02);
    }

}