* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navMenu {
  display: flex;
  min-height: 15vh;
  background: black;
  list-style-type: none;
  width: 100%;
}

.navMenuLogo {
  width: 20vh;
  display: flex;
  flex-grow: 1;
}

.navMenuContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navMenu a {
  color: #fff;
	font-size: 18px;
	font-weight: 200;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'DM Sans', sans-serif;   
  text-transform: uppercase;
  font-size: 25px;
  padding-right: 15px;
}

.btn-logout {
  align-self: center;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #000;
  color: white;
  border: 1px solid #000;
  margin: 0 1rem;
  width: fit-content;
  font-size: 20px;
  border: 1px solid white;
  text-transform: uppercase;
}

.btn-logout:hover {
	background:linear-gradient(to bottom, #61A5C2 5%, #2C7DA0 100%);
	background-color:#61A5C2;
}

