* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navMenu {
  display: flex;
  min-height: 15vh;
  background: black;
  list-style-type: none;
  width: 100%;
}

.navMenuLogo {
  width: 20vh;
  display: flex;
  flex-grow: 1;
}

.navMenuContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navMenu a {
  color: #fff;
	font-size: 18px;
	font-weight: 200;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans Condensed', sans-serif;   
  text-transform: uppercase;
  font-size: 25px;
  padding-right: 15px;
}

.navMenu button {
  align-self: center;
	-moz-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #89C2D9;
	box-shadow: inset 0px 1px 0px 0px #89C2D9;
	background-color: #89C2D9;
	border: 1px solid #89C2D9;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	padding: 8px 18px;
	text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}

.navMenu button:hover {
	background:linear-gradient(to bottom, #61A5C2 5%, #2C7DA0 100%);
	background-color:#61A5C2;
}

